.nav {
    display: flex;
    justify-content: space-between;
}
.nav h1 {
    color: rgb(54, 2, 103);
    margin: 0;
    font-size: 40px;
}
#header-title {
    color: rgb(54, 2, 103);
    margin: 0;
    font-size: 40px;
}
.nav ul {
    display: inline-flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.nav li {
    padding-left: 15px;
    padding-top: 15px;
}
.nav li a {
    color: rgb(54, 2, 103);
    text-decoration: none;
    cursor: pointer;
}
.nav .nav-search {
    display: flex;
    flex: 1;
    margin-top: 5px;
    margin-left: 5%;
    margin-right: 5%;
}
.nav .nav-search input {
    flex: 1;
    color: rgb(54, 2, 103);
    border: 1px solid rgb(54, 2, 103);
    height: 40px;
    border-right: 0;
    padding-left: 10px;
}
.nav .nav-search button {
    color:aliceblue;
    background-color: rgb(54, 2, 103);
    border: 1px solid rgb(54, 2, 103);
    height: 40px;
    border-left: 0;
    cursor: pointer;
}
h1 a {
    text-decoration: none;
}

.suggested-result {
    position: absolute;
    display: list-item !important;
    z-index: 10;
    background-color: #fff;
    opacity: 90%;
    top: 40px;
    width: 300px;
    border: 1px solid #ddd;
    margin-left: 5px;
}

.suggested-result :hover {
    background-color:aliceblue;
}

.suggested-result li {
    border-bottom: 1px solid #ddd;
    cursor: pointer;
    padding: 5px;
    margin-left: 6px;
}

.suggested-result li a {
    color: rgb(54, 2, 103);
}

.cart-count {
    margin-left: 4px;
    display: inline-block;
    text-align: center;
    width: 24px;
    height: 24px;
    border-radius: 24px;
    background-color: rgb(54, 2, 103);
    color: #fff;
}